/* This is where your CSS goes! */
table, th, td { /* The whole table and evey cells. */
    border: 1px solid;
}

td {
    padding: 4px;
}

.colored-ingredient {
    color: firebrick;
    font-weight: 700;
}